{% extends "base.html" %}

{% block include_files %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 60% }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAQDOZpCb33qnlU5xcBmf_n8CQ4p_qg6s&sensor=false">
    </script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages: ['corechart']});
    </script>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script type="text/javascript">
var map;
var infowindow = null;
var cur_loc;
var chart;

function initialize() {
  var mapOptions = {
    center: new google.maps.LatLng(41.5, -77.0),
    zoom: 6,
    mapTypeId: google.maps.MapTypeId.TERRAIN
  };
  map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
  show_locations()
}

function show_locations() {
{% if locations %}
var marker = [];
{% for loc in locations %}
  marker[{{ loop.index0  }}] = new google.maps.Marker({
    position: new google.maps.LatLng({{ loc.lat }}, {{ loc.lon }}),
    map: map,
    title:"{{ loc.name }}"
  });
  google.maps.event.addListener(marker[ {{ loop.index0 }} ], 'click', function() {
    if (infowindow != null){
      infowindow.close();
    }
    infowindow = new google.maps.InfoWindow({ content: "<h3>{{ loc.name }}</h3>{{ loc.lat }}, {{ loc.lon }}" });
    infowindow.open(map,marker[ {{ loop.index0 }} ]);
    cur_loc = {id: {{ loc.id }}, name: "{{loc.name}}", lat: {{loc.lat}}, lon: {{loc.lon}}};
    show_details(cur_loc);
    update_data();
    });
{% endfor %}
{% endif %}
}

function kelv_to_fahr(k){
  return ((k - 273.15) * 1.8) + 32.0;
}

function build_table(json){
  var data = new google.visualization.DataTable();
  if (typeof json.dates == "undefined"){
    chart.clearChart();
    return;
  }
  data.addColumn('date', 'Date');
  var vax = {};
  var axes = 0;
  var ser = {};
  for (var key in json){
    if (key == 'dates'){
      continue;
    }
    vax[axes] = {logScale: false};
    ser[axes] = {targetAxisIndex: axes};
    axes = axes + 1;
    if (key == 'temps'){
      data.addColumn('number', 'Temperature');
    }else if (key == 'winds'){
      data.addColumn('number', 'Wind Speed');
    }else{
      data.addColumn('number', key);
    }
  }
  for (var i=0; i<json.dates.length; i++){
    var row = [];
    row[row.length] = new Date(json.dates[i]);
    for (var key in json){
      if (key != 'dates'){
        row[row.length] = json[key][i];
      }
    }
    data.addRow(row);
  }

  chart.draw(data, {curveType: "function", 
      title: cur_loc.name+' ('+cur_loc.lat+", "+cur_loc.lon+')',
        vAxes: vax,
        series: ser});
}

// type: 'temp' or 'wind'
function build_query(loc_id, type){
  return 'http://localhost:5000/location/'+loc_id+'/data';
}

function show_details(loc){
  if (loc == null){
    return;
  }
  //$("#loc_name").text(loc.name);
  //$("#loc_coords").text(loc.lat + ", " + loc.lon);
}

// Updates data for any checked item
function update_data(){
  if (cur_loc == null){
    return;
  }
  if (chart == null){
    chart = new google.visualization.LineChart(document.getElementById('chart'));
  }
  var params = {"start":encodeURIComponent($("#startpicker").val()), "end": encodeURIComponent($("#endpicker").val()) };
  if ($( "#wnd_chk" ).val() == "1"){
    params['winds']='1';
  }
  if ($( "#tmp_chk" ).val() == "1"){
    params['temps']='1';
  }
  update_chart_async(params);
}

function update_chart_async(params, table_func){
  if (cur_loc == null){
    return;
  }
  loc_id = cur_loc.id
  $.getJSON(build_query(loc_id), params, function(json){
    build_table(json);
  });
}

$(function() {
    $( "#startpicker" ).datepicker();
    });
$(function() {
    $( "#endpicker" ).datepicker();
    });

$(function() {$('.btn').button(); });

$(function() {
  $("#wnd_chk_btn").click(function(){
    var last_val = $("#wnd_chk").val();
    $("#wnd_chk").val( last_val == "0" ? "1" : "0");
     update_data();
    });
  });
$(function() {
  $("#tmp_chk_btn").click(function(){
    var last_val = $("#tmp_chk").val();
    $("#tmp_chk").val( last_val == "0" ? "1" : "0");
     update_data();
    });
  });

window.onload = initialize;
</script>
{% endblock %}

{% block title %}Ice Conditions{% endblock %}


{% block content %}

<div id="map_canvas" style="width:100%; height:60%"></div>

<div id="chart_controls">
  <div id="top_controls">
  </div>
  <div id="chart"></div>
  <div id="bottom_controls">
    <div id="start_area">Start: <input type="text" value="{{ start }}" id="startpicker" onchange="update_data()"></div>
    <div class="btn-group" data-toggle="buttons" id="data_buttons">
    <label class="btn btn-primary active" id="tmp_chk_btn">
      <input type="checkbox" id="tmp_chk" value="1">Temperature
    </label>
    <label class="btn btn-primary" id="wnd_chk_btn">
      <input type="checkbox" id="wnd_chk" value="0">Wind Speed
    </label>
    <label class="btn btn-primary">
      <input type="checkbox" id="snow_chk" value="0">Snow Fall
    </label>
  </div>
    <div id="end_area">End: <input type="text" value="{{ end }}" id="endpicker" onchange="update_data()"></div>
  </div>
</div>


{% endblock %}
